<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    	{% load static %}
    	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
       	<link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/ico" />
   	    <link href="{% static "pure-min.css" %}" rel="stylesheet" />
        <link href="{% static "jquery.fancybox.min-3.3.5.css" %}" rel="stylesheet" />
   	    <link href="{% static "styles.css" %}" rel="stylesheet">
        <style>
            {% block extrastyle %}{% endblock %}
        </style>
    </head>
    <body>
        <div id="header">
            {% block header %}
                <h2>Header</h2>
            {% endblock %}
        </div>
        <div id="content">
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                         <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
                <h2>Content</h2>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <h2>Footer</h2>
            {% endblock %}
        </div>
        <script src="{% static "jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "jquery.fancybox-3.3.5.min.js" %}"></script>
        {% block extrascriptlibraries %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $.fancybox.defaults.loop = true;
                $("a:has(img)").attr({"data-fancybox": "gallery", "data-caption": function(i, val) {return $(this).children("img:first").attr("title")}});
            });
            {% block extrascript %}{% endblock %}
        </script>
    </body>
</html>
