<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    	{% load static %}
       	<link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/ico" />
   	    <link href="{% static "css/pure-min.css" %}" rel="stylesheet" />
        <link href="{% static "css/jquery.fancybox.min-3.3.5.css" %}" rel="stylesheet" />
        <link href="{% static "css/jquery.dataTables-1.10.18.min.css" %}" rel="stylesheet">
        <link href="{% static "css/select2-4.0.6-rc.0.min.css" %}" rel="stylesheet">
   	    <link href="{% static "css/styles.css" %}" rel="stylesheet">
        <style>
            {% block extrastyle %}{% endblock %}
        </style>
    </head>
    <body>
        <div id="navigator" role="navigation" class="noprint">
            <a id="logo" href="{% url "homepage" %}">
                <img alt="ahernp logo, links to Homepage" src="{% static "ahernp.svg" %}" title="Homepage" />
            </a>
            <form action="{% url 'search' %}" method="GET">
                <input
                    id="search_string"
                    type="text"
                    name="search"
                    aria-label="Search"
                    placeholder="Search"
                    {% if search_string %}value="{{ search_string }}"{% endif %}
                    autofocus>
            </form>
            {% block navlinks %}
                <p><a href="{% url 'admin:index' %}">Admin</a></p>
            {% endblock %}
            {% block navinfo %}
                <p>Generated {% now "Y-m-d H:i:s" %}</p>
            {% endblock %}
        </div>
        <div id="content" role="main">
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
                <h2>Content</h2>
            {% endblock %}
        </div>
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/jquery.fancybox-3.3.5.min.js" %}"></script>
        <script src="{% static "js/jquery.dataTables-1.10.18.min.js" %}"></script>
        <script src="{% static "js/select2-4.0.6-rc.0.min.js" %}"></script>
        {% block extrascriptlibraries %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $.fancybox.defaults.loop = true;
                $("a:has(img)").not("#logo").attr({"data-fancybox": "gallery", "data-caption": function(i, val) {return $(this).children("img:first").attr("title")}});
                $('table').not('.non-datatable').DataTable(
                    {"search": {"regex": true}});
                $('select').select2();
            });
            {% block extrascript %}{% endblock %}
        </script>
    </body>
</html>
