{% extends "base.html" %}

{% load static %}

{% block title %}Tools{% endblock %}

{% block extrastyle %}{% endblock %}

{% block header %}
	<p class="breadcrumbs">
		<a href="{% url "homepage" %}">ahernp.com</a>
		›
		Tools
	</p>
{% endblock %}

{% block content %}
    <div id="react-tools"></div>
{% endblock %}

{% block footer %}
	<p>
		Generated {% now "Y-m-d H:i:s" %};
		<a href="{% url 'admin:index' %}">Admin</a>.
	</p>
{% endblock %}

{% block extrascriptlibraries %}
    <script src="{% static "tools-20180618.min.js" %}"></script>
{% endblock %}

{% block extrascript %}
    
{% endblock %}
