:root {
    --color: #444;
    --background-color: #fff;
    --header-link-color: #046;
    --code-color: #000;
    --border-color: #ccc;
    --table-border-color: #000;
    --table-row-even-background: #ddd;
    --table-row-hover-background: #ace;
    --error-color: white;
    --error-background-color: maroon;
    --button-color: #444;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #d8dee9;
        --background-color: #2e3440;
        --header-link-color: #81a1c1;
        --code-color: #FFA500;
        --border-color: #81a1c1;
        --table-border-color: #4c566a;
        --table-row-even-background: #88c0d0;
        --table-row-hover-background: #4c566a;
        --error-color: white;
        --error-background-color: maroon;
        --button-color: #444;
    }
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: sans-serif;
}

body  {
    font-size: 1.5vw;
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, a, th {
    color: var(--header-link-color);
    margin: 1vh 0;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1vw;
}

button {
    margin-left: 0.5em;
    color: var(--button-color);
}


code, input, textarea {
    font-family: monospace;
    color: var(--code-color);
    background-color: var(--background-color);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--table-border-color);
    padding: 0 0.5em 0 0.5em;
}

tr.even {
    background-color: var(--table-row-even-background);
}

tr.even:hover {
    background-color: var(--table-row-hover-background);
}

tr.odd:hover {
    background-color: var(--table-row-hover-background);
}

#navigator {
    display: block;
    padding: 1vh 2vw;
    margin: 0;
    background-color: var(--background-color);
}

@media screen and (orientation: landscape) {
    #navigator {
        border-right: 1px var(--border-color) solid;
        height: 100vh;
        position: fixed;
        width: 9vw;
    }
}

@media screen and (orientation: portrait) {
    #navigator {
        border-bottom: 1px var(--border-color) solid;
        display: flex;
        font-size: 3vw;
        height: auto;
        position: initial;
        width: 100%;
    }

    #navigator > * {
        padding: 1vw;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media print {
    .noprint {
       display: none !important;
    }
}

#logo img {
    width: 8vw;
}

#search_string {
    width: 7vw;
}

#content {
    display: block;
    margin-right: 1vw;
    padding-top: 1vh;
}

@media screen and (orientation: landscape) {
    #content {
        margin-left: 14vw;
    }
}

@media screen and (orientation: portrait) {
    #content {
        margin-left: 1vw;
    }
}

.published-date {
    float: right;
}

.strong {
    font-weight: bold;
}

.errorlist, .highlight {
    background-color: var(--error-background-color);
    color: var(--error-color);
}

@media screen and (orientation: portrait) {
    .column-left {
        width: 100%;
    }

    .column-right {
        width: 100%;
    }

    div#content {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 2vw;
    }
}

@media screen and (orientation: landscape) {
    .column-left {
        width: 53%;
        float: left
    }

    .column-right {
        width: 44%;
        float: left;
        padding-left: 1em;
    }
}

div.column-left p, div.column-right p {
    margin: 1vh 0;
}

.pure-g.gutters{
	margin: 0 -0.5em;
}

.pure-g.gutters > [class *=pure-u]{
	box-sizing: border-box;
	padding: 0em 0.5em;
}

table.dataTable tbody tr {
    background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #fff;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info {
    color: var(--color);
    background-color: var(--background-color);

    input {
        color: var(--color);
        background-color: var(--background-color);
    }
}
