html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: sans-serif;
}

body  {
    font-size: 1.5vw;
    background-color: #fff;
    color: #444;
    margin: 0;
}

h1, h2, h3, h4, a, th {
    color: #046;
    margin: 1vh 0;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1vw;
}

code {
    font-family: monospace;
    color: #000;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 0 0.5em 0 0.5em;
}

tr.even {
    background-color: #ddd;
}

tr.even:hover {
    background-color: #ace;
}

tr.odd:hover {
    background-color: #ace;
}

button {
    color: #fff;
    background-color: #046;
    font-size: 3vh;
    padding: 5px;
    border-radius: 10px;
}

#navigator {
    display: block;
    position: fixed;
    height: 100vh;
    width: 8vw;
    padding: 1vh 2vw;
    border-right: 1px #ccc solid;
    margin: 0;
    background-color: #fff;
}

#logo img {
    width: 8vw;
}

#search_string {
    width: 7vw;
}

#content {
    display: block;
    margin-left: 14vw;
    margin-right: 1vw;
    padding-top: 1vh;
}

.published-date {
    float: right;
}

.strong {
    font-weight: bold;
}

.errorlist, .highlight {
    background-color: maroon;
    color: white;
}

@media screen and (orientation: portrait) {
    .column-left {
        width: 100%;
    }

    .column-right {
        width: 100%;
    }

    div#content {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 2vw;
    }
}

@media screen and (orientation: landscape) {
    .column-left {
        width: 53%;
        float: left
    }

    .column-right {
        width: 44%;
        float: left;
        padding-left: 1em;
    }
}

div.column-left p, div.column-right p {
    margin: 1vh 0;
}

.pure-g.gutters{
	margin: 0 -0.5em;
}

.pure-g.gutters > [class *=pure-u]{
	box-sizing: border-box;
	padding: 0em 0.5em;
}
