{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    {{ object.content_as_html }}
{% endblock %}

{% block navlinks %}
    {% if object.parent %}
        <p><a href="{% url 'page-list-filter' object.parent.slug %}">Related</a></p>
    {% endif %}
    <p><a href="{% url 'admin:mpages_page_change' object.id %}">Admin</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'page-edit' object.slug %}">Edit</a></p>
    {% endif %}
	<p><a href="{% url "page-detail" "markdown" %}">Markdown</a></p>
{% endblock %}

{% block navinfo %}
	<p>Updated {{ object.updated|date:"Y-m-d H:i:s" }}</p>
{% endblock %}

{% block extrascript %}{% endblock %}
