{% extends "base.html" %}

{% block title %}Edit {{ object.title }}{% endblock %}

{% block extrastyle %}
    div#markdown, div#preview, textarea {
        height: 100%;
        width: 49%;
    }
{% endblock %}

{% block content %}
    <h1>Edit Markdown</h1>
    <script type="text/javascript">
        var page_id = {{ object.id}};
    </script>
    <div id="react-edit-markdown">
        <div class="column-left">
            {{ object.content }}
        </div>
        <div class="column-right">
            {{ object.content_as_html }}
        </div>
    </div>
{% endblock %}

{% block navlinks %}
    <p><a href="{% url 'page-detail' object.slug %}">Page</a></p>
    <p><a href="{% url 'admin:mpages_page_change' object.id %}">Admin</a></p>
	<p><a href="{% url 'page-detail' 'markdown' %}">Markdown</a></p>
{% endblock %}

{% block navinfo %}
	<p>Updated {{ object.updated|date:"Y-m-d H:i:s" }}</p>
{% endblock %}

{% block extrascript %}{% endblock %}
