{% extends "base.html" %}

{% load markdown_extras %}

{% block title %}{{ object.title }}{% endblock %}

{% block extrastyle %}
.correct {
    background-color: rgba(0, 255, 0, 0.2);
}
.incorrect {
    background-color: rgba(255, 0, 0, 0.2);
}
.unanswered {
    background-color: rgba(255, 255, 0, 0.2);
}
.pure-g {
    margin-top: 0.5em 0;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}
.pure-u-1-24 {
    text-align: center;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
{% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>

    {% regroup object.question_set.all by topic as topic_list %}

    <p>Topics:</p>
    <ol>
        {% for topic in topic_list %}
            <li>
                <a href="#topic{{ topic.grouper.id }}">{{ topic.grouper }}</a>
                ({{ topic.list | length }} questions)
            </li>
        {% endfor %}
    </ol>

    {% for topic in topic_list %}
        <h2 id="topic{{ topic.grouper.id }}">{{ topic.grouper }}</h2>
        <ol>
        {% for question in topic.list %}
            <li id="question{{ question.id}}">{{ question.question }}
                <div class="pure-g">
                    <div class="pure-u-1-24">
                        <input type="radio" id="question{{question.id}}a" name="question{{question.id}}"
                            value="a" onclick="setCookie('question{{question.id}}', 'a')">
                    </div>
                    <div class="pure-u-23-24">
                        <label for="question{{question.id}}a">a) {{ question.answer_a }}</label>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-24">
                        <input type="radio" id="question{{question.id}}b" name="question{{question.id}}"
                            value="b" onclick="setCookie('question{{question.id}}', 'b')">
                    </div>
                    <div class="pure-u-23-24">
                        <label for="question{{question.id}}b">b) {{ question.answer_b }}</label>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-24">
                        <input type="radio" id="question{{question.id}}c" name="question{{question.id}}"
                            value="c" onclick="setCookie('question{{question.id}}', 'c')">
                    </div>
                    <div class="pure-u-23-24">
                        <label for="question{{question.id}}c">c) {{ question.answer_c }}</label>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-24">
                        <input type="radio" id="question{{question.id}}d" name="question{{question.id}}"
                            value="d" onclick="setCookie('question{{question.id}}', 'd')">
                    </div>
                    <div class="pure-u-23-24">
                        <label for="question{{question.id}}d">d) {{ question.answer_d }}</label>
                    </div>
                </div>
                {% if quiz.show_answers and question.notes %}
                    <h3>Notes</h3>
                    {{ question.notes | markdown | safe }}
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    {% endfor %}
{% endblock %}

{% block navlinks %}
    <p><a href="{% url 'quiz-list' %}">Quizes</a></p>
    <p><a href="{% url 'admin:quiz_quiz_change' object.id %}">Admin</a></p>
    <p><button onclick="location.href='{% url 'quiz-detail' object.id %}?check_answers=true';">Check Answers</button></p>
    <p>{{ object.question_set.all | length }} Questions</p>
    <p><span id="number-of-answers"></span> Answered</p>
    {% if quiz.show_answers %}
        <p><span id="number-of-correct-answers"></span> Correct</p>
    {% endif %}
{% endblock %}

{% block navinfo %}{% endblock %}

{% block extrascript %}
    const numberOfQuestions = {{ object.question_set.all | length }};
    const checkAnswersMode = window.location.search === '?check_answers=true';
    const showAnswers = {% if quiz.show_answers %}true {% else %}false{% endif %};
    const correctAnswers = {% if quiz.show_answers %}
        {
            {% for question in object.question_set.all %}
                question{{question.id}}: '{{question.correct_answer}}',
            {% endfor %}
        };
        {% else %}
            undefined;
        {% endif %}
    const allQuestionIds = [
        {% for question in object.question_set.all %}
        'question{{question.id}}',
        {% endfor %}
    ];

    let numberOfAnswers = 0;
    let localAnswers = {};

    function getAnswersFromCookies() {
        numberOfAnswers = 0;
        localAnswers = document.cookie.split('; ').reduce((prev, current) => {
            const [name, value] = current.split('=');
            if (name.startsWith('question')) {
                prev[name] = value;
                numberOfAnswers += 1;
            }
            return prev
        }, {});
        $('#number-of-answers').text(numberOfAnswers);
    }

    getAnswersFromCookies();

    const thirtyDaysInSeconds = 30*24*60*60;

    function setCookie(name, value) {
        document.cookie = name + '=' + value +
            '; max-age=' + thirtyDaysInSeconds +
            '; SameSite=Strict';
        getAnswersFromCookies();
    }

    let numberOfCorrectAnswers = 0;

    function checkAnswers() {
        if (checkAnswersMode && correctAnswers !== undefined) {
            numberOfCorrectAnswers = 0;
            let localAnswer, correctAnswer;
            for (const [questionId, value] of Object.entries(correctAnswers)) {
                localAnswer = localAnswers[questionId];
                correctAnswer = correctAnswers[questionId];
                if (localAnswer === correctAnswer) {
                    numberOfCorrectAnswers += 1;
                };
                let answerId;
                ['a', 'b', 'c', 'd'].forEach((answerIdSuffix) => {
                    answerId = `label[for='${questionId}${answerIdSuffix}']`;
                    if (answerIdSuffix === localAnswer && localAnswer === correctAnswer) {
                        $(answerId).parent().addClass("correct");
                        $(answerId).parent().append(" <b>Correct</b>");
                    } else if (answerIdSuffix === localAnswer && localAnswer !== undefined) {
                        $(answerId).parent().addClass("incorrect");
                        $(answerId).parent().append(" <b>Wrong</b>");
                    }
                });
            }
            $('#number-of-correct-answers').text(numberOfCorrectAnswers);
        }
        if (checkAnswersMode) {
            allQuestionIds.forEach((questionId) => {
                if (localAnswers[questionId] === undefined) {
                    $(`#${questionId}`).addClass("unanswered");
                    $(`#${questionId}`).append(" <b>Unanswered</b>");
                }
            });
        }
    }

    function setAnswersFromCookies() {
        for (const [questionId, answer] of Object.entries(localAnswers)) {
            if (answer) {
                $(`input[name=${questionId}][value="${answer}"]`).prop('checked', true);
            }
        }
    }

    setAnswersFromCookies();
    checkAnswers();
{% endblock %}
