{% extends "base.html" %}

{% block title %}Quizes{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Quizes</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
    <tbody>
        {% for quiz in object_list %}
            <tr>
                <td><a href="{% url 'quiz-detail' quiz.id %}">{{ quiz.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block navlinks %}
    <p><a href="{% url 'admin:quiz_quiz_changelist' %}">Admin</a></p>
{% endblock %}

{% block extrascript %}{% endblock %}
