{% extends "base.html" %}

{% block title %}Blog Pages{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
	<h2>Blog Pages</h2>
	<table class="pure-table pure-table-odd pure-table-bordered">
		<thead>
			<tr><th>Title</th><th>Updated</th><th>Published</th></tr>
		</thead>
		<tbody>
		{% for blogpage in object_list %}
			<tr>
				<td><a href="{% url 'blogpage-detail'  blogpage.slug %}">{{ blogpage.title }}</a></td>
				<td>{{ blogpage.updated | date:"c" }}</td>
				<td>{{ blogpage.published | date:"c" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block extrascript %}{% endblock %}
