{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block extrastyle %}{% endblock %}

{% block header %}
    <p class="breadcrumbs">
        <a href="{% url "homepage" %}">ahernp.com</a> ›
		Blog
    </p>
{% endblock %}

{% block content %}
	<h2>Blog Pages</h2>
	<table class="pure-table pure-table-odd pure-table-bordered">
		<thead>
			<tr><th>Title</th><th>Updated</th><th>Published</th></tr>
		</thead>
		<tbody>
		{% for blogpage in object_list %}
			<tr>
				<td><a href="{% url 'blogpage-detail'  blogpage.slug %}">{{ blogpage.title }}</a></td>
				<td>{{ blogpage.updated | date:"c" }}</td>
				<td>{{ blogpage.published | date:"c" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block footer %}
    <p>
        Generated {% now "Y-m-d H:i:s" %};
        <a href="{% url 'admin:blog_blogpage_changelist' %}">Admin</a>.
    </p>
{% endblock %}

{% block extrascript %}{% endblock %}
