{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <p>For "{{ search_string }}"</p>
    {% if error %}
        <p class="highlight">{{ error }}</p>
    {% endif %}
    {% if pages %}
        <h2>Pages</h2>
        {% for page in pages %}
            <p><a href="{% url 'page-detail' page.slug %}">{{ page.title_highlight|safe }}</a></p>
			<p>{{ page.content_highlight|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if entries %}
        <h2>Feedreader Entries</h2>
        {% for entry in entries %}
        <p><a href="{{ entry.link }}">{{ entry.title_highlight|safe }}</a> (from {{ entry.feed.title|safe }})</p>
			<p>{{ entry.description_highlight|safe }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block extrascript %}{% endblock %}
