{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block extrastyle %}{% endblock %}

{% block content %}
    <h1>Upload Files</h1>
    <form method="post" enctype="multipart/form-data" class="pure-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>

    <h2>Images</h2>
    {% for image in images %}
       <a href="/media/img/{{ image }}">{{ image }}</a>
    {% endfor %}

    <h2>Thumbnails</h2>
    {% for thumbnail in thumbnails %}
        <img alt="{{ thumbnail }}" src="/media/img/thumb/{{ thumbnail }}" />
    {% endfor %}
{% endblock %}

{% block extrascript %}{% endblock %}
