html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Droid Sans', Arial, sans-serif;
}

body  {
    font-size: 1.5vw;
    background-color: #fff;
    color: #444;
    margin: 0;
}

h1, h2, h3, h4, a, th {
    color: #046;
    margin: 1vh 0;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2.2vw;
}

h4 {
    font-size: 2vw;
}

code {
    font-family: 'Droid Sans Mono', Monospace;
    color: #000;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 0 0.5em 0 0.5em;
}

tr.even {
    background-color: #ddd;
}

tr.even:hover {
    background-color: #ace;
}

tr.odd:hover {
    background-color: #ace;
}

button {
    color: #fff;
    background-color: #046;
    font-size: 3vh;
    padding: 5px;
    border-radius: 10px;
}

#header {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px #ccc solid;
    margin: 0;
    z-index: 9;
}

#header p.breadcrumbs {
    width: 69%;
    margin: 1vh;
}

#content {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#footer {
    display: block;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px #ccc solid;
    margin: 0;
    padding-left: 1vh;
    z-index: 9;
}

#footer p {
    margin: 1vh;
}
.published-date {
    float: right;
}

.strong {
    font-weight: bold;
}

.highlight {
    background-color: maroon;
    color: white;
}

@media screen and (orientation: portrait) {
    .column-left {
        width: 100%
    }

    .column-right {
        width: 100%
    }
}

@media screen and (orientation: landscape) {
    .column-left {
        width: 53%;
        float: left
    }

    .column-right {
        width: 44%;
        float: left;
        padding-left: 1em;
    }
}

div.column-left p, div.column-right p {
    margin: 1vh 0;
}

.pure-g.gutters{
	margin: 0 -0.5em;
}

.pure-g.gutters > [class *=pure-u]{
	box-sizing: border-box;
	padding: 0em 0.5em;
}
