{% extends "base.html" %}

{% load static %}

{% block title %}Edit {{ object.title }}{% endblock %}

{% block extrastyle %}
    div.markdown {
        height: 80vh;
        width: 53%;
        float: left;
    }

    div.preview {
        width: 44%;
        float: left;
        padding-left: 1em;
    }

    button {
        position: absolute;
        top: 1vh;
        right: 3vw;
    }

    button#preview-button {
        position: initial;
    }

    textarea {
        height: 100%;
        width: 100%;
    }
{% endblock %}

{% block content %}
    <h1>Edit Markdown</h1>
    <div>
        <button onclick="savePage()">Save</button>
        <div class="markdown">
            <textarea id="markdown" onblur="previewPage()">{{ object.content }}</textarea>
        </div>
        <div class="preview">
            <div id="preview">{{ object.content_as_html }}</div>
        </div>
    </div>
{% endblock %}

{% block navlinks %}
    <p><a href="{% url 'page-detail' object.slug %}">Page</a></p>
    <p><a href="{% url 'admin:pages_page_change' object.id %}">Admin</a></p>
    <p><a href="{% url 'page-detail' 'markdown' %}">Markdown</a></p>
    <p><button id="preview-button">Preview</button></p>
{% endblock %}

{% block navinfo %}
    <p>Updated {{ object.updated|date:"Y-m-d H:i:s" }}</p>
{% endblock %}

{% block extrascriptlibraries %}
{% endblock %}

{% block extrascript %}
    async function postPage(url, method='POST') {
        const content = document.getElementById("markdown").value;
		const response = await fetch(url, {
			method,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
			body: JSON.stringify({ content })
		});
		const responseJSON = await response.json();
        return responseJSON;
	}

	async function savePage() {
        postPage('/api/v1/pages/{{ object.id }}/', method='PUT');
    }

	async function previewPage() {
        const contentAsHTML = await postPage('/api/v1/markdown-to-html');
        document.getElementById("preview").innerHTML = contentAsHTML;
    }
{% endblock %}
