{% extends "base.html" %}

{% block title %}Feedreader{% endblock %}

{% block extrastyle %}
.feed_entry {
    padding: 0.2em 0.5em;
    margin: 0.5em;
    border: 1px solid #046;
    border-radius: 1em;
}
.entry-toggle-read {
    float: right;
}
{% endblock %}

{% block header %}
	<p class="breadcrumbs">
		<a href="{% url "homepage" %}">ahernp.com</a> ›
	    Feedreader
	</p>
{% endblock %}

{% block content %}
    <h1>Recent Entries</h1>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <p><a href="{% url 'recent-entries' %}">All{% if not feed %} ({{ counts.total_entries }}){% endif %}</a></p>
            {% for group_count in counts.group_counts %}
                {% if group_count.total_count > 0 %}
                    <h2>{{ group_count.group.name|safe }} ({{ group_count.total_count }})</h2>
                    {% for feed_count in group_count.feed_counts %}
                        {% if feed_count.total_count > 0 %}
                           <p><a href="{% url 'feed-recent-entries' feed_count.feed.id %}">{{ feed_count.feed.title|safe }} ({{ feed_count.total_count }})</a></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for feed_count in non_group_feed_counts %}
                <p>{{ feed_count.feed.title|safe }} ({{ feed_count.total_count }})</p>
            {% endfor %}

        </div>
        <div class="pure-u-3-4">
            <div id="feedreader-entry-list">
                {% for entry in object_list %}
                    <div class="feed_entry">
                        <div class="entry-toggle-read">
                            <form action="{% url 'toggle-entry-read'%}" method="POST">
                                {% csrf_token %}
                                <input
                                    id="id_feed_id_{{ entry.id }}"
                                    type="hidden"
                                    name="feed_id"
                                    value="{% if feed %}{{ feed.id }}{% endif %}">
                                <input
                                    id="id_entry_id_{{ entry.id }}"
                                    type="hidden"
                                    name="entry_id"
                                    value="{{ entry.id }}">
                                <button type="submit" title="Toggle Read">
                                    Read
                                </button>
                            </form>
                        </div>
                        <h3 class="feed_entry_subtitle">
                            From {{ entry.feed.title|safe }} on {{ entry.published_time }}
                            {% if not entry.read_flag %}
                                (unread)
                            {% endif %}
                        </h3>
                        <p>
                            <a href="{{ entry.link }}">{{ entry.title|safe }}</a>
                            (<a href="{{ entry.feed.xml_url }}">feed</a>)
                        </p>
                        <p>{{ entry.description|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>
        Generated {% now "Y-m-d H:i:s" %};
        <a href="{% url 'admin:feedreader_entry_changelist' %}">Admin</a>.
    </p>
{% endblock %}

{% block extrascript %}{% endblock %}
