{% extends "base.html" %}

{% block title %}
    {% if feed %}
        {{ feed.title }} Entries
    {% else %}
        Feedreader
    {% endif %}
    {% if counts.unread_entries %}({{ counts.unread_entries }}){% endif %}
    {% endblock %}

{% block extrastyle %}
.feed_entry {
    padding: 0.2em 0.5em;
    margin: 0.5em;
    border: 1px solid #046;
    border-radius: 1em;
}
.entry-toggle-read {
    float: right;
}
{% endblock %}

{% block content %}
<h1>Recent Entries</h1>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <p><a href="{% url 'recent-entries' %}">All</a></p>
            {% for group_count in counts.group_counts %}
                {% if group_count.total_count > 0 %}
                    <h2>{{ group_count.group.name|safe }} ({{ group_count.total_count }})</h2>
                    {% for feed_count in group_count.feed_counts %}
                        {% if feed_count.total_count > 0 %}
                           <p><a href="{% url 'feed-recent-entries' feed_count.feed.id %}">{{ feed_count.feed.title|safe }} ({{ feed_count.total_count }})</a></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for feed_count in non_group_feed_counts %}
                <p>{{ feed_count.feed.title|safe }} ({{ feed_count.total_count }})</p>
            {% endfor %}

        </div>
        <div class="pure-u-3-4">
            <div id="feedreader-entry-list">
                {% for entry in object_list %}
                    <div class="feed_entry">
                        <div class="entry-toggle-read">
                            {% if user.is_authenticated and not entry.read_flag %}
                                <form action="{% url 'mark-entry-read'%}" method="POST">
                                    {% csrf_token %}
                                    <input
                                        id="id_feed_id_{{ entry.id }}"
                                        type="hidden"
                                        name="feed_id"
                                        value="{% if feed %}{{ feed.id }}{% endif %}">
                                    <input
                                        id="id_entry_id_{{ entry.id }}"
                                        type="hidden"
                                        name="entry_id"
                                        value="{{ entry.id }}">
                                    <button type="submit" title="Mark as Read">
                                        Read
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        <h3 class="feed_entry_subtitle">
                            From {{ entry.feed.title|safe }} on {{ entry.published_time }}
                            {% if not entry.read_flag %}
                                (unread)
                            {% endif %}
                        </h3>
                        <p>
                            <a href="{{ entry.link }}">{{ entry.title|safe }}</a>
                            {% if entry.media_link %}
                                (<a href="{{ entry.media_link }}">{{ entry.media_name }}</a>)
                            {% endif %}
                        </p>
                        <p>{{ entry.description|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block navlinks %}
    <p><a href="{% url 'admin:feedreader_entry_changelist' %}">Admin</a></p>
    <p><a href="{% url 'dashboard' %}">Dashboard</a></p>
    <p><a href="{% url 'recent-entries' %}">Feedreader</a></p>
    <p><a href="{% url 'feeds' %}">Feeds</a></p>
    <p><a href="{% url 'recent-entries' %}?read_flag=False">Unread</a></p>
    {% if user.is_authenticated and counts.unread_entries %}
        <form action="{% url 'mark-all-entry-read'%}" method="POST">
            {% csrf_token %}
            <button type="submit" title="Mark all entries as read">
                Read
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block extrascript %}{% endblock %}
