{% extends "base.html" %}

{% block title %}Timers{% endblock %}

{% block extrastyle %}{% endblock %}

{% block header %}
	<p class="breadcrumbs">
        <a href="{% url "homepage" %}">ahernp.com</a> ›
        Timers
	</p>
{% endblock %}

{% block content %}
    <h1>Timers</h1>
    <p>Under construction</p>
{% endblock %}

{% block footer %}
    <p>
        Generated {% now "Y-m-d H:i:s" %};
        <a href="{% url 'admin:timers_timer_changelist' %}">Admin</a>.
    </p>
{% endblock %}

{% block extrascript %}{% endblock %}
